{% extends 'base.html' %}

{% block navbar %}
	<nav class="navbar navbar-inverse">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('main.index') }}"><b>To-Do</b></a>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('main.add_category') }}">ADD CATEGORY</a></li>
				<li><a href="{{ url_for('main.add_task') }}">ADD TASK</a></li>
				<li class="active"><a href="{{ url_for('main.view_tasks') }}">VIEW TASKS</a></li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block title %}View Tasks{% endblock %} 

{% block page_content %}
	<table class="table table-hover">
		{% if new %}
			<h3>No new tasks!</h3>
		{% else %}
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Priority</th>
		</tr>
		{% for task in tasks.keys() %}
		<tr>
			<td>{{ task }}</td>
			<td>{{ tasks[task]['Category'] }}</td>
			<td>{{ tasks[task]['Priority'] }}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</table>
{% endblock %}